@model GucciGramService.Models.LoginFormResponse

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>GG-Login</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/gg.png">
    <link rel="stylesheet" href="/css/style.css" media="all">
</head>
<body>
    <div class="header">
        <div class="mid">
            <header>
                <div class="topmenu">
                    <aside>
                        <a asp-action="Index">Main</a>
                        <a asp-action="LoginForm">Login</a>
                        <a asp-action="RegistrationForm">Register</a>
                    </aside>
                </div>

                <a asp-action="Index">
                    <img src="/images/GG-logo.png" width="75" height="95" alt="GucciGram" title="GucciGram">
                </a>

            </header>
        </div>
    </div>

    <div class="menu"></div>

    <div class="content">
        <div class="mid">
            <div class="fon">
                <div class="block">
                    <img src="/images/ggf.png" width="290" height="75" alt="GucciGram" title="GucciGram" class="center-img" />
                    <div class="anons">
                        <form asp-action="LoginForm" method="post">

                            <table>

                                <tr>
                                    <td><label asp-for="Email">Email:</label></td>
                                    <td><input asp-for="Email" type="text" placeholder="Enter Your email" /></td>
                                </tr>
                                <tr>

                                <tr>
                                    <td><label asp-for="Password">Password:</label></td>
                                    <td><input asp-for="Password" type="text" placeholder="Enter Your Password" /></td>
                                </tr>

                            </table>

                            <button type="submit" class="centre-btm" style="width:90px;height:25px">Log In</button>

                        </form>
                    </div>
                </div>
                <div class="clear"> </div>

            </div>
        </div>
    </div>
    <div class="down">
        <div class="mid"></div>
        2018 GucciGram &copy;
    </div>
</body>
</html>