@model User

<img src="/images/ggf.png" width="290" height="75" alt="GucciGram" title="GucciGram" class="center-img" />

<div class="anons">
    <img src="/avatars/image.jpg" width="125" height="125" class="leftimg" />
    <div class="info11">
        Name: @Model.UserName
        <p>Email: @Model.Email</p>
        <form action="account.html" method="post">
            <p>Info:</p>
            <textarea rows="2" cols="40" name="text"></textarea>
            <p><input type="submit" value="Done!" class="l"></p>
        </form>

    </div>
    <input type="submit" value="New profile photo" class="pupload-btm" style="width:120px;height:25px" />
    <div class="info"></div>
</div>