@model RegistrationModel

<img src="/images/ggf.png" width="290" height="75" alt="GucciGram" title="GucciGram" class="center-img" />

<div class="anons">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Registration" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IsMale">Gender</label>
            <select asp-for="IsMale" class="form-control">
                <option value="">Choose an option</option>
                <option value=true>Gentleman</option>
                <option value=false>Mademoiselle</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>   