@model string

<img src="/images/ggf.png" width="203" height="53" alt="GucciGram" title="GucciGram" />

<p style="padding: 25px 0px 0px 12px;">
    <b style="font-size: 20px;">404.</b>
    <ins style="text-decoration: none; color: dimgray;">That`s an error.</ins>
</p>
<p style="padding: 20px 0px 0px 12px;">
    The requested URL
    <code>@Model</code>
    was not found on this server.
    <ins style="text-decoration: none; color: dimgray;">That`s all we know.</ins>
</p>