<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GucciGram</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/gg.png">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" media="all">
</head>
<body>
    <div class="header">
        <div class="mid">
            <header>
                <div class="topmenu">
                    <aside>
                        <a asp-controller="Home" asp-action="Index">Feed</a>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <a asp-controller="Home" asp-action="UserPage/@User.Identity.Name">User Page</a>
                            <a asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Login</a>
                            <a asp-controller="Account" asp-action="Registration">Registration</a>
                        }
                    </aside>
                </div>

                <a asp-controller="Home" asp-action="Index">
                    <img src="/images/GG-logo.png" width="75" height="95" alt="GucciGram" title="GucciGram">
                </a>

            </header>
        </div>
    </div>

    <div class="menu"></div>

    <div class="content">
        <div class="mid">
            <div class="fon">
                <div class="block">
                    @RenderBody()
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <div class="down">
        <div class="mid"></div>
        &copy; 2018 - GucciGram
    </div>
</body>
</html>