body{background: #efefef; margin: 0; padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif; color: #272727;}
a{
    text-decoration: none;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 0.5px;
    border-color: darkgrey;
}

/*structura sayta*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{
height: 100px;
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
div.down {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

/*shapka sayta*/
div.topmenu{float: right; height: 95px; line-height: 95px;}
div.topmenu a{margin: 0 0 0 40px; color: #696969;}
div.topmenu a:hover{color: #fff;}

/*menu with poshuk*/
div.menu1{background: linear-gradient(to top left, white, powderblue); border: 1px solid #808080; border-left: none; border-right: none;}
div.menu1 ul{margin: 0; padding: 0; list-style: none;}
div.menu1 ul li {display: inline-block; margin: 5px 140px;}
div.menu1 ul li a{color: #808080; text-shadow: 1px 1px 3px #0b4455;}
div.menu1 ul li a:hover{color: #808080;}

div.menu{background: #808080; border: 0.5px solid #808080; border-left: none; border-right: none;}

/*content sayta*/
div.fon {background: #fff; border: 1px solid #ccc; border-top: none; padding: 40px;}
div.fon div.clear {border-bottom: 1px dashed #ccc;}
div.block {width: 920px; float: left; margin-bottom: 40px;}
div.block:nth-of-type(even) {width: 440px; float: right;}
div.block a p{color: #272727;}
div.anons { width: 495px; background: #f5f5f5; border: 1px solid #ccc; border-radius: 3px; padding: 20px;}

div.anons img {box-shadow: 1px 1px 5px #777;}
div.anons h3 {font-size: 20px; font-weight: normal; margin: 20px 0 10px; padding: 0; color: #01617d;
line-height: 20px;}
div.anons p {text-shadow: 1px 1px 0 #fff;}

 .anons {
	 margin-left:200px;
 }
 
/* ПОШУК */
.search input {
    border: none;
}

/* стиль для поля вводу */
.search .input {
    width: 500px;
    height: 40px;
    margin-left: 200px;
    padding: 8px 37px 9px 25px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.1), inset 0 0px 1px rgba(0,0,0,0.3);
    border-radius: 40px;
    background: #fafafa;
    font: 16px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    background: #f0f0f0;
    color: #333;
}

.style-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

  border-radius: 5px;
  border:none;

  background: #DCDCDC;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

.search .submit {
    border: none;
    position: absolute;
    width: 30px;
    height: 5%;
    cursor: pointer;
    background: url(/images/go.png) 60% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

.center-img {
  display: block;
  margin: 20px;
  margin-left: 300px;
}

.centre-btm {
	display: block;
	margin-top: 25px;
	margin-bottom: 10px; 
	margin-left: 190px;
	border-radius: 12px;
	border: none;
}

.centre-btm {background: #D3D3D3; border: 1px solid gray;}
.centre-btm:hover {background: #e0eff4; border: 1px solid #bfd5dd;}

.pupload-btm {
	display: block;
	margin-top: 0px;
	margin-bottom: 50px; 
	margin-left: 5px;
	border-radius: 12px;
	border: none;		
}
.pupload-btm {background: #D3D3D3; border: 1px solid gray;}
.pupload-btm:hover {background: #e0eff4; border: 1px solid #bfd5dd;}

div.info11{
	float: right;
	margin-bottom: 60px;
}

.l{
	margin-left:0px;
	border: none;
	display: block;
	border-radius: 12px;
	
}

.l {background: #D3D3D3; border: 1px solid gray;}
.l:hover {background: #e0eff4; border: 1px solid #bfd5dd;}

.leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
}
   
.up{
   margin-left: 35px;
   margin-top: 17px;
}
   
.up1{
	   margin-left: 35px;
	   margin-top: 7px;
	   margin-bottom: 1px;
}
    
.ll{
   margin-left: 180px;
}
   
/* стиль для поля вводу */
.search1 .input1 {
  width: 40%;
  margin-left: 315px;
  padding: 8px 37px 9px 15px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

  border-radius: 20px;

  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

.search1 .input1:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

.submit1 {
  background-color: none;
  position: absolute;
  border:none;
  color: #555;
  width: 30px;
  height: 30px;

  cursor: pointer;
  background: url(/images/like.png) 60% no-repeat;
  opacity: 0.5;
}

.NOTsubmit1 {
    background-color: none;
    position: absolute;
    box-shadow: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/images/active-like.png) 60% no-repeat;
    opacity: 0.5;
}

.search1 .submit1:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

select {
    width: 153px; /* розмір випадающого списку */
}

/*down*/
div.clear{clear: both;}

/*adaprivniy design*/
@media screen and (max-width: 999px){
	div.mid{width: 95%;}
}

/*Some staff from Aleg*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.deleteBtn {
    width: 110px;
    height: 20px;
    border: none;
    font-size: 10px;
    background-color: #f5f5f5;
    color: crimson;
    font-family: Arial;
    border-radius: 20px;
    margin-top: 1px;
}

.deleteBtn:hover {
    background-color: crimson;
    color: white;
}

p.DateDay {
    font-size: 12px;
    color: burlywood;
}